body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2b0a3d, #000, #1a2a6c);
  color: white;
  overflow-x: hidden;
}

.top-button {
  margin: 15px auto;
  display: block;
  padding: 10px 20px;
  background: purple;
  border-radius: 15px;
  border: none;
  color: white;
}

.giant-heart {
  font-size: 150px;
  text-align: center;
  cursor: pointer;
}

.photo {
  display: block;
  max-width: 70%;
  margin: 20px auto;
  border-radius: 15px;
}

.photo-text {
  text-align: center;
  font-size: 22px;
}

.next-button, .final-button {
  display: block;
  margin: 20px auto;
  padding: 12px 25px;
  border-radius: 15px;
  background: purple;
  color: white;
  border: none;
}

#texto-final {
  max-width: 900px;
  margin: 40px auto;
  font-size: 22px;
  line-height: 1.7;
  white-space: pre-line;
}

.floating-heart {
  position: fixed;
  bottom: -50px;
  font-size: 30px;
  animation: subir 8s linear;
}

@keyframes subir {
  to {
    transform: translateY(-120vh);
    opacity: 0;
  }
  }
